# OS-specific files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
.venv/

# Logs
*.log





# Results
results/*
!results/evaluation_metrics.txt

# Streamlit & deployment configs
ui/.streamlit/
deployment/*.log

# IDE & editor settings
.vscode/
.idea/
*.swp

# Ngrok auth token file (if used)
*.yml
*.yaml
